.logo{
    margin-top: 15px;
    width: 75px; 
}

.logo-name{
    font-family:'Lucida Sans', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top: 37px;
    color: #D29F0A;
}





  

