.logo{
    margin-top: 15px;
    width: 57px;
  
}
.logo-name{
    font-family:'Lucida Sans', sans-serif;
    font-size: 26px;
    font-weight: bold;
    margin-top: 24px;
    color: #D29F0A;

}



  

