.coin-container{
    display: flex;
    padding: 10px;
    margin: 0 auto;
    
}

.coin-row{
    display:flex;
    padding: 20px;
    flex-wrap: wrap;
    align-items: center;
    height:250px;
    border: 2px solid #D29F0A;
    border-radius: 10px;
    width: 400px;
    background: #292929;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 100px;
}

.coin h1 {
    font-size: 16px;
    width: 250px;

}

.coin img {
    height: 100px;
    width: auto;
    margin-right: 10px;
}

.coin-symbol {
    text-transform: uppercase;
}

.coin-data {
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

/* .coin-price {
    width: 100px;
    font-size: larger; 
} */

.coin-vol-mkt{
    display: flex;
    flex-direction: column;
    gap: 20px
}

.coin-percent-price{
    display: flex;
    font-size: larger;
    gap: 15px;
    align-items: center;
}
.coin-button{
    padding:6px 10px;
    color:#D29F0A;
    width: 150px;
    background: #1a1a1c;
    border-radius: 5px;
    border: 1px solid #D29F0A
}
.coin-per-price-but{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* .coin-volume {
    width: 300px;
}

.coin-marketcap {
    width: 155px;
} */

/* .coin-percent {
    width: 50%;
} */

.red {
    color: #f00;
}

.green {
    color: #11d811
}

/* -------------------- */

.coin-app {
    background-color: #1a1a1c;
    color: #D29F0A;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

}

.coin-search {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* .coin-text {
    font-size: 40px;
    margin-bottom: 6px;
    text-align: center;
    color:#D29F0A
} */

.coin-input {
    padding-left: 16px;
    width: 300px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background-image: linear-gradient(
        -225deg,
        #D29F0A 0%,
        #c3b66d 50%,
        #797a5b 100%
    );
    color:  #292929;
    
}

.coin-input::placeholder{
    color: #292929
}

.coin-cards {
    display: flex;
    flex-wrap: wrap;
}
